
* {
    box-sizing: border-box;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    list-style: none;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 250, 246);
}

.Home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home_img {
    width: min(100%,450px);
    display: block;
    margin: 0 auto;
    position: relative;
    top: -40px;
    object-fit: cover;
}

.home_title {
    color: rgb(0, 76, 143);
    font-size: 35px;
    margin-top: 0;
}

.home_info {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px; 
}

.form_home {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

.form_input {
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    box-shadow: 16px 5px 12px 3px #f7000066;
}

.form_btn {
    font-size: 15px;
    font-weight: 100;
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #ff0000c4;
    box-shadow: 12px 6px 12px 3px #f700004d;
    cursor: pointer;
}

.red_header.list {
    position: absolute;
    top: 0;
    bottom: initial;
    height: 110px;
}

.red_header {
    width: 100%;
    height: 80px;
    background-color: #dd1a1a;
    position: absolute;
    bottom: 0;
}

.black_header.list {
    height: 25px;
}

.black_header {
    width: 100%;
    height: 35px;
    background-color: #0c0c0c;
    position: absolute;
    bottom: 0;
}

.circle.list {
    width: 50px;
    border-width: 7px;
    outline-width: 7px;
    left: 85%;
    top: 72.5px;
}

.circle {
    width: 55px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #000;
    border: 10px solid white;
    outline: 5px solid black;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
}

.poke_header {
    width: 250px;
    position: absolute;
    top: 37px;
    left: 5%;
}

.aside_container {
    padding-top: 95px;
    padding-left: 15px;
    margin: 40px 0 25px;
}

.aside_title {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.aside_span{
    color: #fe1936;
    font-weight: 700;
}

.card_container {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(300px,100%),1fr));
    gap: 30px 20px; 
}

.card {
    width: min(300px,100%);
    justify-self: center;
    border-radius: 10px;
    overflow-x: hidden;
    position: relative;
    box-shadow: 12px 6px 7px #0c0c0c34;
    transition: transform .3s ease;
    cursor: pointer;
    background-color: #fff;
}

.grass_border {
    border:  7px solid rgb(58 178 0 / 80%);
}

.normal_border {
    border: 7px solid rgba(157, 157, 157, 0.777);
}

.fighting_border {
    border: 7px solid rgba(228, 118, 28, 0.7);
}

.poison_border {
    border: 7px solid rgba(192, 79, 230, 0.81);
}

.ground_border {
    border: 7px solid rgba(141, 84, 5, 0.7);
}

.rock_border {
    border: 7px solid rgba(61, 61, 61, 0.756);
}

.bug_border {
    border: 7px solid rgba(1, 164, 129, 0.7);
}

.ghost_border {
    border: 7px solid rgba(51,0,136,.6);
}

.steel_border {
    border: 7px solid rgba(105,105,105,.7);
}

.fire_border {
    border: 7px solid rgba(255,49,0,.8);
}

.water_border {
    border: 7px solid rgba(0,140,255,.8);
}

.grass_border {
    border: 7px solid rgba(43,131,0,.8);
}

.electric_border {
    border: 7px solid rgba(255,203,0,.8);
}

.psychic_border {
    border: 7px solid rgba(255,0,247,.8);
}

.ice_border {
    border: 7px solid rgba(0,217,255,.8);
}

.dragon_border {
    border: 7px solid rgba(160,92,177,.8);
}

.dark_border {
    border: 7px solid rgba(0,0,0,.8);
}

.fairy_border {
    border: 7px solid rgba(255,177,226,.8);
}

.card_header {
    height: 120px;
    width: 100%;
    margin-bottom: 40px;
}

.grass {
    background: linear-gradient(0deg,rgba(203,255,169,1) 0%,rgba(43,131,0,1) 100%);
}

.normal {
    background: linear-gradient(0deg,rgba(242,242,242,1) 0%,rgba(195,195,195,1) 100%);
}

.fighting {
    background: linear-gradient(0deg,rgba(255,250,243,1) 0%,rgba(221,101,0,1) 100%);
}

.poison {
    background: linear-gradient(0deg,rgba(250,233,254,1) 0%,rgba(192,79,230,1) 100%);
}

.ground {
    background: linear-gradient(0deg,rgba(183,169,144,1) 0%,rgba(106,66,10,1) 100%);
}

.rock {
    background: linear-gradient(0deg,rgba(185,185,185,1) 0%,rgba(82,82,82,1) 100%);
}

.bug {
    background: linear-gradient(0deg,rgba(165,243,215,1) 0%,rgba(0,143,112,1) 100%);
}

.ghost {
    background: linear-gradient(0deg,rgba(166,157,182,1) 0%,rgba(51,0,136,.7609637605042017) 100%);
}

.steel {
    background: linear-gradient(0deg,rgba(219,219,219,1) 0%,rgba(105,105,105,1) 100%);
}

.fire {
    background: linear-gradient(0deg,rgba(230,155,28,1) 0%,rgba(255,49,0,1) 100%);
}

.water {
    background: linear-gradient(0deg,rgba(215,250,255,1) 0%,rgba(0,226,255,1) 48%,rgba(0,140,255,1) 100%);
}

.grass {
    background: linear-gradient(0deg,rgba(203,255,169,1) 0%,rgba(43,131,0,1) 100%);
}

.electric {
    background: linear-gradient(0deg,rgba(250,253,182,1) 0%,rgba(255,203,0,1) 100%);
}

.psychic {
    background: linear-gradient(0deg,rgba(255,218,250,1) 0%,rgba(255,0,247,1) 100%);
}

.ice {
    background: linear-gradient(0deg,rgba(254,254,254,1) 0%,rgba(0,217,255,1) 100%);
}

.dragon {
    background: linear-gradient(0deg,rgba(160,92,177,1) 0%,rgba(255,95,113,1) 100%);
}

.dark {
    background: linear-gradient(0deg,rgba(127,126,127,1) 0%,rgba(0,0,0,1) 100%);
}

.fairy {
    background: linear-gradient(0deg,rgba(255,249,253,.9906556372549019) 0%,rgba(255,177,226,1) 100%);
}

.card_pokemon_img {
    width: 150px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
}

.card_name {
    text-align: center;
    text-transform: capitalize;
}

.pokemon_type {
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.pokemon_Text{
    text-align: center;
    font-size: 12px;
    color: #0c0c0c77;
    margin-bottom: 15px;
}

.set_hr{
    border: none;
    border-top: 1px solid #0C0C0C22;
    width: 70%;
    margin-bottom: 15px;
}

.list_stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 5px;
    padding: 0 20px 20px;
}

.stat {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    color: #0c0c0c77
}

.stat_num{
    font-weight: 600;
    font-size: 15px;
    color: #000;
    margin-top: 2px;
}

.pagination_container {
    display: flex;
    gap: 30px;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: 35px;
}

.pag_num_container {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

.pag_num {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 9px;
}

.pag_prev_next {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 9px;
    color: white;
    background-color: #dd1a1a;
}

.page_active {
    color: white;
    background-color: #dd1a1a;
}