
* {
    box-sizing: border-box;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    list-style: none;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 250, 246);
}

.Home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home_img {
    width: min(100%,450px);
    display: block;
    margin: 0 auto;
    position: relative;
    top: -40px;
    object-fit: cover;
}

.home_title {
    color: rgb(0, 76, 143);
    font-size: 35px;
    margin-top: 0;
}

.home_info {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px; 
}

.form_home {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

.form_input {
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    box-shadow: 16px 5px 12px 3px #f7000066;
}

.form_btn {
    font-size: 15px;
    font-weight: 100;
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #ff0000c4;
    box-shadow: 12px 6px 12px 3px #f700004d;
    cursor: pointer;
}

.red_header.list {
    position: relative;
    top: 0;
    bottom: initial;
    height: 110px;
}

.red_header {
    width: 100%;
    height: 80px;
    background-color: #dd1a1a;
    position: absolute;
    bottom: 0;
}

.black_header.list {
    height: 25px;
}

.black_header {
    width: 100%;
    height: 35px;
    background-color: #0c0c0c;
    position: absolute;
    bottom: 0;
}

.circle.list {
    width: 50px;
    border-width: 7px;
    outline-width: 7px;
    left: 85%;
    top: 72.5px;
}



.circle {
    width: 55px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #000;
    border: 10px solid white;
    outline: 5px solid black;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
}

.poke_header {
    width: 250px;
    position: absolute;
    top: 37px;
    left: 5%;
}

.logout_icon {
    width: 50px;
    position: absolute;
    top: 37px;
    left: 5%;
}

.bxs-log-out {
    color: white;
}

.aside_container {
    padding-top: 0px;
    padding-left: 15px;
    margin: 40px 0 25px;
}

.aside_title {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.aside_span{
    color: #fe1936;
    font-weight: 700;
}

.card_container {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(300px,100%),1fr));
    gap: 30px 20px; 
}

.card {
    width: min(300px,100%);
    justify-self: center;
    border-radius: 10px;
    overflow-x: hidden;
    position: relative;
    box-shadow: 12px 6px 7px #0c0c0c34;
    transition: transform .3s ease;
    cursor: pointer;
    background-color: #fff;
}

.card:hover {
    transform: scale(1.1);
}

.grass_border {
    border:  7px solid rgb(58 178 0 / 80%);
}

.normal_border {
    border: 7px solid rgba(157, 157, 157, 0.777);
}

.fighting_border {
    border: 7px solid rgba(228, 118, 28, 0.7);
}

.poison_border {
    border: 7px solid rgba(192, 79, 230, 0.81);
}

.ground_border {
    border: 7px solid rgba(141, 84, 5, 0.7);
}

.rock_border {
    border: 7px solid rgba(61, 61, 61, 0.756);
}

.bug_border {
    border: 7px solid rgba(1, 164, 129, 0.7);
}

.ghost_border {
    border: 7px solid rgba(51,0,136,.6);
}

.steel_border {
    border: 7px solid rgba(105,105,105,.7);
}

.fire_border {
    border: 7px solid rgba(255,49,0,.8);
}

.water_border {
    border: 7px solid rgba(0,140,255,.8);
}

.grass_border {
    border: 7px solid rgba(43,131,0,.8);
}

.electric_border {
    border: 7px solid rgba(255,203,0,.8);
}

.psychic_border {
    border: 7px solid rgba(255,0,247,.8);
}

.ice_border {
    border: 7px solid rgba(0,217,255,.8);
}

.dragon_border {
    border: 7px solid rgba(160,92,177,.8);
}

.dark_border {
    border: 7px solid rgba(0,0,0,.8);
}

.fairy_border {
    border: 7px solid rgba(255,177,226,.8);
}

.flying_border {
    border: 7px solid #93f2efc3;
}

.card_header {
    height: 120px;
    width: 100%;
    margin-bottom: 40px;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.loader_up {
    height: 50%;
    border-bottom: 2px solid white;
    position: relative;
}

.loader_up.animationOn {
    animation: 1s 0.5s 1 forwards linear animationUp;
}

.loader_down {
    height: 50%;
    border-top: 2px solid white;
    position: relative;
}

.loader_down.animationOn {
    animation: 1s 0.5s 1 forwards linear animationDown;
}

.loader_red {
    height: 70%;
    background-color: rgb(255, 58, 58);
}

.loader_black {
    height: 30%;
    background-color: #000;
}

.loader_btn {
    position: relative;
    z-index: 1;
    height: 100px;
    width: 100px;
    background: radial-gradient(gray 0%, gray 35%, black 35%, black 60%, white 60%, white 80%, black 80%, black 100%);
    border-radius: 50%;
    left: calc(50% - 50px);
    top: 8px;
}

@keyframes animationUp {
    0% {bottom: 0;}
    25% {bottom: 75px;}
    50% {bottom: 150px;}
    75% {bottom: 225px;}
    100% {bottom: 300px;}
}

@keyframes animationDown {
    0% {top: 0;}
    25% {top: 75px;}
    50% {top: 150px;}
    75% {top: 225px;}
    100% {top: 300px;}
}

.grass {
    background: linear-gradient(0deg,rgba(203,255,169,1) 0%,rgba(43,131,0,1) 100%);
}

.normal {
    background: linear-gradient(0deg,rgba(242,242,242,1) 0%,rgba(195,195,195,1) 100%);
}

.fighting {
    background: linear-gradient(0deg,rgba(255,250,243,1) 0%,rgba(221,101,0,1) 100%);
}

.poison {
    background: linear-gradient(0deg,rgba(250,233,254,1) 0%,rgba(192,79,230,1) 100%);
}

.ground {
    background: linear-gradient(0deg,rgba(183,169,144,1) 0%,rgba(106,66,10,1) 100%);
}

.rock {
    background: linear-gradient(0deg,rgba(185,185,185,1) 0%,rgba(82,82,82,1) 100%);
}

.bug {
    background: linear-gradient(0deg,rgba(165,243,215,1) 0%,rgba(0,143,112,1) 100%);
}

.ghost {
    background: linear-gradient(0deg,rgba(166,157,182,1) 0%,rgba(51,0,136,.7609637605042017) 100%);
}

.steel {
    background: linear-gradient(0deg,rgba(219,219,219,1) 0%,rgba(105,105,105,1) 100%);
}

.fire {
    background: linear-gradient(0deg,rgba(230,155,28,1) 0%,rgba(255,49,0,1) 100%);
}

.water {
    background: linear-gradient(0deg,rgba(215,250,255,1) 0%,rgba(0,226,255,1) 48%,rgba(0,140,255,1) 100%);
}

.grass {
    background: linear-gradient(0deg,rgba(203,255,169,1) 0%,rgba(43,131,0,1) 100%);
}

.electric {
    background: linear-gradient(0deg,rgba(250,253,182,1) 0%,rgba(255,203,0,1) 100%);
}

.psychic {
    background: linear-gradient(0deg,rgba(255,218,250,1) 0%,rgba(255,0,247,1) 100%);
}

.ice {
    background: linear-gradient(0deg,rgba(254,254,254,1) 0%,rgba(0,217,255,1) 100%);
}

.dragon {
    background: linear-gradient(0deg,rgba(160,92,177,1) 0%,rgba(255,95,113,1) 100%);
}

.dark {
    background: linear-gradient(0deg,rgba(127,126,127,1) 0%,rgba(0,0,0,1) 100%);
}

.fairy {
    background: linear-gradient(0deg,rgba(255,249,253,.9906556372549019) 0%,rgba(255,177,226,1) 100%);
}

.flying {
    background: linear-gradient(0deg,rgba(243,254,255,1) 0%,#93f2efc3 100%);
}



.card_pokemon_img {
    width: 150px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
}

.card_name {
    text-align: center;
    text-transform: capitalize;
}

.pokemon_type {
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.pokemon_Text{
    text-align: center;
    font-size: 12px;
    color: #0c0c0c77;
    margin-bottom: 15px;
}

.set_hr{
    border: none;
    border-top: 1px solid #0C0C0C22;
    width: 70%;
    margin-bottom: 15px;
}

.list_stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 5px;
    padding: 0 20px 20px;
}

.stat {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    color: #0c0c0c77
}

.stat_num{
    font-weight: 600;
    font-size: 15px;
    color: #000;
    margin-top: 2px;
}

.pagination_container {
    display: flex;
    gap: 30px;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: 35px;
}

.pag_num_container {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

.pag_num {
    font-size: 20px;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 9px;
}

.pag_prev_next {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    aspect-ratio: 1;
    border-radius: 9px;
    color: white;
    background-color: #dd1a1a;
}

.page_active {
    color: white;
    background-color: #dd1a1a;
}

.form_container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.form_search_container {
    display: flex;
}

.form_search {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 8px 2px #0002;
    width: 250px;
}

.select_type {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 8px 2px #0002;
}

.search_btn {
    font-weight: 100;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #dd1a1a;
    cursor: pointer;
    box-shadow: 5px 5px 8px 2px #0002;
}

.dropdown {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(254, 137, 137);
    position: absolute;
    top: 230px;
    width: 160px;
    max-height: 94px;
    overflow: auto;
    border-radius: 8px;
}

.dropdown:empty {
    border: none;
}

.dropdown::-webkit-scrollbar {
    width: 7px;
  }

  .dropdown::-webkit-scrollbar-thumb {
    background-color: rgba(45,161,253,1);
    border-radius: 4px;
  }

.dropdown_row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}

.dropdown_row:hover {
    background-color: rgba(249, 4, 4, 0.46);
}

.search_inner {
    display: flex;
    flex-direction: column;
}

.poke_id_container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.poke_return {
    position: absolute;
    top: 140px;
    left: 20px;
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff00008a;
    border-radius: 50%;
    font-weight: 500;
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.poke_id_info {
    width: min(800px,100%);
    margin-top: 160px;
    box-shadow: 0 2px 5px #0c0c0c34;
    border-radius: 10px;
}

.prev_next_id {
    width: 30px;
    border: none;
    background-color: #0c0c0c22;
    color: white;
    font-size: 18px;
    border-radius: 10px 0 0;
    cursor: pointer;
}

.poke_img_card {
    width: min(250px,60%);
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%);
}

.header_card_info{
    width: 100%;
    height: 120px;
    position: relative;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.body_card {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 0 0 10px 10px;
}

.poke_gral {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke_id {
    font-size: 27px;
    margin-bottom: 20px;
}

.name_poke {
    font-size: 25px;
    text-transform: capitalize;
    background-color: white;
    padding: 0 10px;
    position: absolute;
    top: 14px;
}

.poke_stats {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
}

.stats_id {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 15px;
}

.span_stats_id {
    font-size: 14px;
    color: #0c0c0c99;
    font-weight: 400;
}

.hr_card {
    border: none;
    border-top: 1px solid #0C0C0C66;
    width: 100%;
    margin-bottom: 25px;
}

.type_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.type {
    text-transform: capitalize;
    padding: 5px 20px;
    margin-bottom: 10px;
    font-weight: 600;
    border:1px solid transparent ;
}

.type-grass {
    background-color: #2b8300cc;
    color: #fff;
}

.type-normal {
    background-color:  rgba(157, 157, 157, 0.777);
    color: #fff;
}

.type-fighting {
    background-color: rgba(228, 118, 28, 0.7);
    color: #fff;
}

.type-poison {
    background-color: rgba(192, 79, 230, 0.81);
    color: #fff;
}

.type-ground {
    background-color: rgba(141, 84, 5, 0.7);
    color: #fff;
}

.type-rock {
    background-color: rgba(61, 61, 61, 0.756);
    color: #fff;
}

.type-bug {
    background-color: rgba(1, 164, 129, 0.7);
    color: #fff;
}

.type-ghost {
    background-color: rgba(51,0,136,.6);
    color: #fff;
}

.type-steel {
    background-color: rgba(105,105,105,.7);
    color: #fff;
}

.type-fire {
    background-color: rgba(255,49,0,.8);
    color: #fff;
}

.type-water {
    background-color: rgba(0,140,255,.8);
    color: #fff;
}

.type-electric {
    background-color: rgba(255,203,0,.8);
    color: #fff;
}

.type-psychic {
    background-color: rgba(255,0,247,.8);
    color: #fff;
}

.type-ice {
    background-color: rgba(0,217,255,.8);
    color: #fff;
}

.type-dragon {
    background-color: rgba(160,92,177,.8);
    color: #fff;
}

.type-dark {
    background-color: rgba(0,0,0,.8);
    color: #fff;
}

.type-fairy {
    background-color: rgba(255,177,226,.8);
    color: #fff;
}

.type-flying {
    background-color: #93f2efc3;
    color: #fff;
}